.banner-cover {
  background-color: #4831b8;
  height: 80vh;
  color: white;
}

.banner-content {
  height: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.banner-content-left {
  align-self: center;
  padding: 150px;
}

.banner-content-left h1 {
  font-size: 2.5em;
}

.banner-content-left p {
  font-size: 1.3em;
}

.banner-image {
  height: 500px;
}

.homepage-second-row {
  background-color: white;
  margin: 100px;
}