.top-navigation {
  background-color: #4831b8;
  display: flex;
  padding: 10px;
  align-items: center;
}

.logo-nav {
  width: 100px;
  flex-grow: 8;
  font-size: 40px;
  color: white;
  margin-left: 20px;
}
.top-navigation ul {
  list-style-type: none;
  flex-grow: 1;
  text-align: right;
}

.top-navigation li {
  display: inline;
  font-size: 18px;
  padding: 20px;
  margin: 10px;
}

.top-navigation li a {
  color: white;
}

.top-navigation li a:hover {
  color: black;
}