
.profile-container {
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}

.profile-learning-track {
  width: 100%;
}

.add-track-button {
 margin: 3% 3% 0 0;
 text-align: right;
}

.learning-card-container {
  text-align: left;
}



/* Responsive styles -----------------------------------*/
@media (max-width: 1000px) {
  .profile-container {
    grid-template-columns: 100%;
  }
  .profile-learning-track {
    margin-top: 5%;
  }
}
