
.profile-container {
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}

.career-goal-text {
  font-weight: lighter;
}

.profile-learning-track {
  width: 100%;
  margin-bottom: 100px;
}

.add-track-button {
 margin: 3% 3% 0 0;
 text-align: right;
}

.learning-card-container {
  text-align: left;
  margin: 20px;
}

.learning-card-description {
  margin-bottom: 40px;
}

.button-width {
  width: 100%;
}

.ui.active.dimmer {
  opacity: 0.2 !important;
}

.card-resource-title {
  color:grey;
  font-weight: lighter;
}

.green-number {
  color: #21ba45
}

.grey-number {
  color: #767676;
}

.orange-number {
  color: #f2711c;
}

.faded-text {
  color: #767676;
  font-weight: lighter;
}

.resource-image {
  height: 200px;
  object-fit: cover;
}

/* Responsive styles -----------------------------------*/
@media (max-width: 1000px) {
  .profile-container {
    grid-template-columns: 100%;
  }
  .profile-learning-track {
    margin-top: 5%;
  }
}
